@CHARSET "ISO-8859-1";

/* hide from ie on mac \*/
html {height: 100%; overflow: hidden; padding:0px; margin:0px;}
#flashcontent {	height: 100%; color:#CCCCCC; font-family:Verdana, Arial, Helvetica, sans-serif;}
/* end hide */

body {font-family:Verdana, Arial, Helvetica, sans-serif; color:#CCCCCC; height: 100%; margin: 0px; padding: 0px; background-color: #000000;}

a:link{ color:#00CCFF; font-family:Verdana, Arial, Helvetica, sans-serif;}